.header {
  @apply flex justify-center items-center;
  @apply h-14 bg-white shadow-md;
  @apply sticky  box-border;
}

.header > .container {
  @apply flex  items-center;
  @apply max-w-6xl !important;

  height: 100%;
}

.header-logo {
  @apply mr-6 ml-4;
  @apply text-lg;
}

.header-logo:hover {
  color: #2080f0;
}

.n-menu-item-content__icon {
  margin-right: 0 !important;
  font-size: 14px !important;
}

.header-button {
  @apply flex justify-end ml-auto mr-8 space-x-4;
}

@media (max-width: 640px) {
  .header-search-modal {
    position: absolute;
    top: 0;
  }
}

@media (min-width: 640px) {
  .header-search-modal {
    width: 600px;
    position: absolute;
    left: calc(50% - 300px);
    top: 100px;
  }
}

.header-menu {
  @apply sm:block hidden;
}

.header-bars {
  @apply sm:hidden block;
}
