.header {
  @apply flex justify-center items-center;
  @apply h-14 bg-white shadow;
  @apply sticky  box-border;
}

.header > .container {
  @apply flex  items-center;
  @apply max-w-5xl !important;

  height: 100%;
}

.header-logo {
  @apply mr-6 ml-4;
  @apply text-lg;
}

.header-logo:hover {
  color: var(--el-color-primary);
}

.header .n-menu-item-content__icon {
  margin-right: 0 !important;
  font-size: 14px !important;
}

.header-button {
  @apply justify-end ml-auto mr-8;
}
