@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen w-screen;

  font-size: var(--el-font-size-base);
  background-color: var(--el-background-color-base);
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    "PingFang SC",
    "Hiragino Sans GB",
    "Heiti SC",
    "Microsoft YaHei",
    "WenQuanYi Micro Hei",
    sans-serif;
}
