@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-box-shadow: 0 3px 8px 6px rgb(7 17 27 / 6%);
  --card-hover-box-shadow: 0 3px 8px 6px rgb(7 17 27 / 15%);
}

body {
  @apply h-screen w-screen;

  background-color: #fff;
  color: #4c4948;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

* {
  outline: none !important;
}

.rotate {
  transition: all 0.5s;
}

.rotate:hover {
  transform: rotate(360deg);
}

.card-widget {
  box-shadow: var(--card-box-shadow);
}

.card-widget:hover {
  box-shadow: var(--card-hover-box-shadow);
}

.n-layout {
  background: none;
}
